body {
  font-family: Times New Roman;
  background-color: #FFA820; }
h1, h2 {
  color: #000000;}
p {
  color: #1442FF;}
table {
  width: 600px;}
th, td {
  padding: 7px 10px 10px;}
th {
  border-bottom: 2px solid #000000;
  border-top: 2px solid #000000}
th.heading {
  background-color = #efefef;}
td {
  color: #1442FF;
  border: 2px solid #000000;}
